.flex-container{
    font-family: 'Roboto', sans-serif;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.item:nth-child(1){
    width: 99%;
}
.item:nth-child(2){
    width: 19%;
}

svg{
    width: 28px;
}

.container-grid{
    display: grid;
    width: 79%;
    height: 10%;
    /* border: 2px solid black; */
    grid-template-columns: repeat(4, 24.2%);
    gap: 15px;
}

.items-grid{
    height: 74%;
    /* border: 5px solid rebeccapurple; */
    box-shadow: 2px 2px 2px rgb(94, 92, 92);
    border-radius: 20px;
    overflow: hidden;
}

img.card{
    width: 100%;
    border-radius: 10px;
}

.title-card{
    font-size: 15px;
    display: inline;
}

.title-size{
    width: 85%;
}

img.yt-channel{
    width: 35px;
    border-radius: 50px;
}

img.logo-yt{
    width: 90px;
}

img.search{
    width: 20px;
}

.color-gray{
    color: 	#8b8989;
    text-decoration: none;
}


.font-12{
    font-size: 13px;
}

.img-subscription{
    width: 30px;
    margin: 5px;
    border-radius: 20px;
}

.subscription:hover{
    background-color:#efebeb;
    border-radius: 10px;
    cursor: pointer;
}

.section-one{
    padding: 12px;
    /* border: 1px solid red; */
}

.section-two{
    padding: 12px;
    /* border: 1px solid blue; */
}

.section-one:hover{
    background-color:#e3e1e1;
    border-radius: 10px;
    cursor: pointer;
}

.section-two:hover{
    background-color:#eeeded;
    border-radius: 10px;
    cursor: pointer;
}

span{
    padding-left: 20px;
}

.container-subscriptions{
    padding: 10px;
}

p.data-card{
    /* border: 1px solid rebeccapurple; */
    width: 51%;
    text-align: justify;
    padding-left: 5%;

}

.decoration-none{
    text-decoration: none;
    color: rgb(17, 16, 16);
}

.navegation{
    padding: 15px;
}

.navegation:hover{
    cursor: pointer;
}

.items-grid:hover{
    position: relative;
    background-color: #fff;
    width: 130%;
    height: 105%;
    border-radius: 20px;
}
.data-card{
    box-shadow: #e6e2e2;
}

.options{
    float: right;
    margin-top: -35px;
    width: 8%;
    cursor: pointer;
}

.funtions{
    padding-left: 5%;
}

.funtions-items{
    width: 90%;
    background-color: #ebe9e9;
    border-radius: 20px;
    margin-top:4px;
    text-align: center;
}

.funtions-items:hover{
    cursor: pointer;
}

.nav-float{
    width: 90%;
    /* right: 8%; */
    /* border: 3px solid yellow; */
    text-align: start;
    /* text-align: center; */
}

.navegation-window{
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    /* height: 10%; */
    bottom: 160px;
    left: 2%;
}

.e{
    height: 100%;
    background-color: #fff;
}

.items-grid:hover:nth-child(4){
    position: relative;
    background-color: #fff;
    width: 130%;
    height: 105%;
    border-radius: 20px;
    right: 22%;
}

.items-grid:hover:nth-child(8){
    position: relative;
    background-color: #fff;
    width: 130%;
    height: 105%;
    border-radius: 20px;
    right: 22%;
}
.items-grid:hover > p.data-card{
    width: 100%;
}

