.container-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    font-family: 'Roboto', sans-serif;
    border: 2px solid rebeccapurple;
}

img.yt-channel{
    width: 35px;
    border-radius: 50px;
}

img.card{
    width:100%;
    border-radius: 20px;
}

.title-card{
    text-decoration: none;
    font-size: .9rem;
    font-weight:600;
    display: block;
}
.title-size{
    width: 85%;
}

.color-gray{
    color: 	#8b8989;
    text-decoration: none;
}
.decoration-none{
    text-decoration: none;
    color: #000000;
}

.grid-over:hover{
    position: relative;
    background-color: #fff;
    width: 130%;
    height: 105%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(94, 92, 92);
}

.grid-overight:hover{
    position: relative;
    background-color: #fff;
    width: 130%;
    height: 105%;
    border-radius: 20px;
    right: 30%;
    box-shadow: 2px 2px 2px rgb(188, 188, 188);
}

.ft-weight{
    font-weight: 700;
    color: #000000;
    text-decoration: none;
} 

.grid-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    font-size: .7rem;
    border-radius: 20px;
    /* overflow: hidden; */
} 

#flex-button{
    display: none;
}

.grid-items:hover #flex-button{
    display: block;
    border-radius: 20px;
}

.flex-avatar{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 2%;
}
.ft-weight{
    font-weight: 700;
    color: #000000;
} 
.flex-card{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: start;
    justify-content: space-between;
    margin-left: 3%;
    font-size: .8rem;
} 
.flex-button{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.funtions-items{
    width: 100%;
    border:transparent;
    background-color: #e5e4e4;
    border-radius: 20px;
    margin:10%;
    text-align: center;
}

.funtions-items:hover{
    cursor: pointer;
}